@font-face {
	font-family:'gotham_htfbold';
	src:url('../fonts/gothamhtf-bold-webfont.eot');
	src:url('../fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
		url('../fonts/gothamhtf-bold-webfont.woff') format('woff'),
		url('../fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
		url('../fonts/gothamhtf-bold-webfont.svg#gotham_htfbold') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'brandon_grotesquebold';
	src:url('../fonts/brandon_bld1-webfont.eot');
	src:url('../fonts/brandon_bld1-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/brandon_bld1-webfont.woff2') format('woff2'),
		url('../fonts/brandon_bld1-webfont.woff') format('woff'),
		url('../fonts/brandon_bld1-webfont.ttf') format('truetype'),
		url('../fonts/brandon_bld1-webfont.svg#brandon_grotesquebold') format('svg');
	font-weight:normal;
	font-style:normal
}
body {
	
}
p {
	margin-bottom:0
}
.navbar {
	z-index:11
}
.navbar-brand span {
	color:#e71b81
}
#bajar, #subir {
	height:33px;
	left:50%;
	margin-left:-30px;
	position:absolute;
	width:58px;
	z-index:10
}
#bajar {
	bottom:50px
}
#subir {
	top:28px
}
#subir img {
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Chrome, Safari, Opera */
	transform:rotate(180deg);
}
footer {
	background-color:#000;
	height:42px;
	position:fixed;
	bottom:0;
	width:100%
}
footer p {
	line-height:40px
}
.landing {
	background-color:#f9e52e;
	background-image:url('../img/landing-zapatilla-mobile.jpg');
	background-position:center bottom;
	background-repeat:no-repeat
}
.home .contenido {
	border:15px solid #f9e52e;
	position:absolute;
	top:0;
	width:100%
}
.home .menu {
	bottom:25px;
	position:absolute;
	width:100%
}
.campana {
	background-image:url('../img/fondo-campana.jpg');
	background-position:top center;
	background-repeat:no-repeat;
}
.relleno-top,
.relleno-bottom {
	height:80px
}
div.calendario {
	
}
.lookbook-intro {
	background-color:#fe99b9
}
.lookbook {
	background-color:#009fe3
}
.lookbook .container {
	margin-top:25px
}
.lookbook .container,
.lookbook .container .row {
	max-width:1132px
}
.lookbook-prenda {
	cursor:pointer;
	opacity:1;
	transition:opacity .25s ease-in-out;
	-moz-transition:opacity .25s ease-in-out;
	-webkit-transition:opacity .25s ease-in-out
}
.lookbook-prenda:hover {
	opacity:.75
}
.lookbook-detalle {
	background-color:#fff;
	color:#000;
	font-family:'brandon_grotesquebold';
	font-size:15px;
	width:283px
}
.lookbook-detalle p {
}
.lookbook-detalle.amarillo {
	background-color:#f9db1b
}
.lookbook-detalle.azul {
	background-color:#009fe3
}
.lookbook-detalle.morado {
	background-color:#e6007f
}
.lookbook-detalle.rosa {
	background-color:#ea96b7
}
.lookbook-detalle.beige {
	background-color:#fcd48e
}
.grid-item {
	max-width:130px;
	margin:6px
}
.top5 {
	
}
.top5 .container {
	
}
.top5 .blanco {
	background-color:#fff
}
.top5 .amarillo {
	background-color:#f8db1b
}
#top5-col-6 .cerrar-top5 {
	cursor:pointer;
	position:absolute;
	top:0;
	right:20px
}
.top5 p {
	font-family:'brandon_grotesquebold';
	font-size:13px
}
.boton-menu {
	position:absolute;
	top:8px;
	right:10px;
	z-index:999
}
.bloque-menu {
	background-color:#000;
	color:#fff;
	position:absolute;
	z-index:999;
	text-align:right;
	width:150px;
	padding:8px;
	right:8px;
	top:40px
}
.bloque-menu a {
	color:#fff!important;
	font-size:18px;
	line-height:24px
}

@media (max-width:767px) {
	.grid-item {
		max-width:110px
	}
	#bajar, #subir {
		height:14px;
		left:50%;
		margin-left:-13px;
		position:absolute;
		width:24px;
		z-index:10
	}
	#subir {
		top:52px
	}
	.home .contenido {
		border:none;
		position:static;
		bottom:auto
	}
	.campana {
		background-image:url('../img/fondo-campana-mobile.jpg')
	}
	.ayuda {
		display:none!important
	}
}